{% extends 'base.html' %}
{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% load crispy_forms_tags %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% include "header.html" %}
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-lg-8">
            <h1>Registrati su CiaulaWeb!</h1>
                {% crispy form %}
                <a class="btn" href="{% url 'home' %}">Annulla</a>
            </div>
        </div>
    </div>
{% endblock %}