{% extends 'base.html' %}
{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% include "header.html" %}
    <h1>Cambia la tua Password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>
    <a class="btn" href="{% url 'profiles:user-detail' user.pk %}">Annulla</a>
{% endblock %}