{% extends 'base.html' %}
{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% load crispy_forms_tags %}
{% endblock %}
{% block title %} Login come Turista {% endblock %}

{% block header1 %}
    <h1> Pagina di Login </h1>
    <p> Per registrarsi compilare i campi necessari</p>
{% endblock %}

{% block content %}
    {% include "header.html" %}
    {% if "notok" in request.GET.auth %}
        <div class="alert alert-danger" role="alert">
            Non hai i permessi necessari per il servizio scelto!
        </div>
    {% endif %}
    <form method="post"> {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-success" value="Esegui Login!">
    </form>

{% endblock %}
