{% extends 'base.html' %}

{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% endblock %}

{% block content %} 
{% include "header.html" %}
<br>
    <h1 style="text-align: center;">{{ title }}</h1>
<br>
	<div class="row">
	    {% for l in listaattrazioni %}
            <div class="col-4">
		        <div class="card" style="border-radius:25px;">
	                <br>
                    <a href="{% url "attractions:dettaglioattr" l.pk %}" style="color:black;"> <h3> <b> {{ l.nome }} </b> </h3> </a>
                    <a href="{% url "attractions:dettaglioattr" l.pk %}"> <img src="{{ l.attrazione_image.url }}" alt="pic attrazione" style="width:auto;height:240px"> </a>  <!-- collegamento a specifiche attrazione -->
	            </div>
                <br>
	        </div>
        {% endfor %}
	</div>
</div>
{%  endblock %}
