{% extends 'base.html' %}
{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% load crispy_forms_tags %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% include "header.html" %}
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-md-9">
            <h2>Inserisci i dati per iniziare a pianfificare la tua vacanza!</h2>
            {% crispy form %}
            <a class="btn" href="{% url 'attractions:attrazioni' %}">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}