{% extends 'base.html' %}

{% block title %}Dettaglio attrazione: {{object.nome}}{% endblock %}
{% block content %}
<div class="container">
    <img src="{{ object.attrazione_image.url | default_if_none:'#' }}" alt="pic attrazione" style="width:auto;height:240px">
    <p> città: {{ object.citta }}</p>
    <p> luogo: {{ object.luogo }}</p>
    <p> via: {{ object.via }}</p>
    <p> costo: {{ object.costo }}</p>
    <p> tipo: {{ object.tipo }}</p>
    <p> Inizia alle: {{ object.oraApertura }}</p>
    <p> Finisce alle: {{ object.oraChiusura }}</p>
    <p> Attività: {{ object.descrizione }}</p>
    <p> id: {{ object.pk }}</p>
</div>
{% endblock %}