{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>{{ vacanza.titolo }}</h1>
    <p>{{ vacanza.descrizione }}</p>
    <p>Budget: {{ vacanza.budgetDisponibile }} €</p>
    <p>Data di Arrivo: {{ vacanza.dataArrivo }}</p>
    <p>Data di Partenza: {{ vacanza.dataPartenza }}</p>
    <p>Durata: {{ vacanza.calcolaGiorni }} giorni</p>
    <p>Numero di persone: {{ vacanza.nrPersone }}</p>
    <div class="row justify-content-end">
        <div class="col-4" style="background-color: white; border-radius: 15px;">
            <br>
            <h3> Totale parziale: <b> {{totale}}€ </b> </h3>
            <br>
        </div>
        <div class="col-4" style="background-color: white; border-radius: 15px;">
            <br>
            <button class="btn btn-success"> <a href="{% url 'HolidayPlanning:stampavacanza' vacanza.pk %}" style="color:white"> PDF Vacanza </a> </button>
            </h3>
            <br>
        </div>
    </div>
    <div class="row">
        {% for s in scelte %}
        <div class="col-md-12">
            <div class="card mb-12 scelta-card">
                <img class="card-img-top img-fluid" src="{{ s.attrazione.attrazione_image.url }}" alt="Card image cap"
                    style="max-width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{ s.attrazione.nome }}</h5>
                    <p class="card-text hours"> da {{ s.oraInizio }} a {{ s.oraFine }} il {{ s.giorno }}</p>
                {% if tour %}
                    <a href="{% url 'HolidayPlanning:modificascelta' s.pk vacanza.pk %}" class="btn btn-primary">Modifica
                        scelta</a>
                    <a href="{% url 'HolidayPlanning:cancellascelta' s.pk vacanza.pk %}" class="btn btn-primary">Cancella
                        scelta</a>
                    <a href="{% url 'attractions:crea_recensione' s.attrazione.pk %}" class="btn btn-primary">Recensisci</a>
                    {% if s.next_scelta is not None %}
                     <a href="{% url 'HolidayPlanning:spostamento' s.pk vacanza.pk %}" class="btn btn-primary">
                         Aggiungi spostamento da {{ s.attrazione.citta }} per {{ s.next_scelta.attrazione.citta }}
                     </a>
                    {% endif %}
                </div>
            </div>
            {% for i in spostamenti %}
                <div class="card mb-12 spostamento-card">
                    <div class="card-body">
                        <h4 class="card-title">SPOSTAMENTO</h4>
                        <p class="card-text">Scelta Partenza: {{ spostamento.scelta_partenza }}</p>
                        <p class="card-text">Scelta Arrivo: {{ spostamento.scelta_arrivo }}</p>
                        <p class="card-text">Ora Partenza: {{ spostamento.ora_partenza }}</p>
                        <p class="card-text">Ora Arrivo: {{ spostamento.ora_arrivo }}</p>
                        <p class="card-text">Durata Spostamento: {{ spostamento.durata_spostamento }}</p>
                        <p class="card-text">Veicolo: {{ spostamento.veicolo }}</p>
                        <p class="card-text">Tipo Spostamento: {{ spostamento.tipo_spostamento }}</p>
                        <p class="card-text">Costo: {{ spostamento.costo }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
        {% empty %}
        <p class="col-12">L'itinerario è ancora vuoto</p>
        {% endfor %}
    </div>
</div>
{% endblock %}