{% extends 'base.html' %}

{% block title %} {{ titolo }} {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center"> Itinerario della Vacanza Creata</h1>
        <div class="row">
            <div class="col-md-6">
                <h1>Riepilogo itinerario</h1>
                <p>Spesa Corrente: {{totale}}</p>
                <p>Budget: {{ vacanza.budgetDisponibile }} €</p>
                <p>Data di Arrivo: {{ vacanza.dataArrivo }}</p>
                <p>Data di Partenza: {{ vacanza.dataPartenza }}</p>
                <p>Durata: {{ vacanza.calcolaGiorni }} giorni</p>
                <p>Numero di persone: {{ vacanza.nrPersone }}</p>
            </div>
            {% for s in scelte %}
                <div class="col-md-6">
                    <div class="card mb-12 scelta-card">
                        <img class="card-img-top img-fluid" src="{{ s.attrazione.attrazione_image.url }}" alt="Card image cap" style="max-width: 100%; max-height: auto;">
                        <div class="card-body">
                            <h5 class="card-title">{{ s.attrazione.nome }}</h5>
                            <p class="card-text hours"> da {{ s.oraInizio }} a {{ s.oraFine }} il {{ s.giorno }}</p>
                            <a href="{% url 'HolidayPlanning:modificascelta' s.pk %}" class="btn btn-primary">Modifica scelta</a>
                            <a href="{% url 'HolidayPlanning:cancellascelta' s.pk %}" class="btn btn-primary">Cancella scelta</a>
                            <a href="{% url 'HolidayPlanning:spostamento' s.pk s.next_scelta.pk %}" class="btn btn-primary">
                                Aggiungi spostamento da {{ s.attrazione.citta }} per {{ s.next_scelta.attrazione.citta }}
                            </a>
                        </div>
                    </div>
                </div>
             {% empty %}
                <p class="col-12">L'itinerario è ancora vuoto</p>
            {% endfor %}
        </div>
    </div>
    <!-- Sezione che mostra i dettagli della vacanza-->
{% endblock %}