{% extends 'base.html' %}

{% block title %} {{ titolo }} {% endblock %}

{% block content %}

    <h1> Lista di {{ view.get_model_name }}</h1>

    {% for s in scelte %}
    <ul>
        {{ s.pk }}:{{ s.attrazione.nome }} da {{ s.oraInizio }} a {{ s.oraFine }} il {{ s.giorno }}
        <a href="{% url 'HolidayPlanning:modificascelta' s.pk %}" class="btn btn-primary">Modifica scelta</a>
        <a href="{% url 'HolidayPlanning:cancellascelta' s.pk %}" class="btn btn-primary">Cancella scelta</a>
    </ul>
    {% endfor %}
{% endblock %}