{% extends 'base.html' %}
{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% load crispy_forms_tags %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% include "header.html" %}
    <div class="row">
    	<div class="col-md-6">
    		<h2> Dettagli Attuali Vacanza </h2>
		<h5>Data di Arrivo:	{{object.dataArrivo}} </h5>
		<h5>Data di Partenza:   {{object.dataPartenza}} </h5>
		<h5>Numero di persone:  {{object.nrPersone}} </h5>
		<h5>Budget Disponibile: {{object.budgetDisponibile}} </h5>
		<h5>Nome Vacanza: {{object.nome}} </h5>
    	</div>
    	<div class="col-md-6">
    		<h2>Inserisci i dati per modificare la tua vacanza!</h2>
    		{% crispy form %}
    		<a class="btn" href="{% url 'HolidayPlanning:vacanze' %}">Cancel</a>
    	</div>
    </div>
{% endblock %}

