{% extends "base.html" %}
{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% load crispy_forms_tags %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% include "header.html" %}

    <div style="display: flex;">
        <div style="flex: 1; margin-left: 20px;">
            <h2>Modifica la scelta di {{ attivita.attrazione.nome }}</h2>
            <p>Giorno attuale: {{ attivita.giorno }}</p>
            <p>Ora inizio attuale: {{ attivita.oraInizio }}</p>
            <p>Ora fine attuale: {{ attivita.oraFine }}</p>
            <p>Vacanza dal {{ vacanza.dataArrivo }} al {{ vacanza.dataPartenza }}</p>
        </div>
        <div style="flex: 1; margin-right: 20px">
            {% crispy form %}
            <a class="btn" href="{% url 'HolidayPlanning:dettagliovacanza' v_id %}">Cancel</a>
        </div>
    </div>
{% endblock %}