{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    {% load crispy_forms_tags %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

    {% include "header.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h2> Dettagli Attuali Vacanza </h2>
                <ul class="list-unstyled">
                    <li>Data di Arrivo: {{ object.dataArrivo }} </li>
                    <li>Data di Partenza: {{ object.dataPartenza }} </li>
                    <li>Numero di persone: {{ object.nrPersone }} </li>
                    <li>Budget Disponibile: {{ object.budgetDisponibile }} </li>
                    <li>Nome Vacanza: {{ object.nome }} </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Inserisci i dati per modificare la tua vacanza!</h2>
                <form method="post" enctype="multipart/form-data" id="modificaVacanzaForm">
                    {% csrf_token %}
                    {{ form.nome | as_crispy_field }}
                    <label > Data Arrivo
                        <input type="date" name="dataArrivo" value="{{ object.dataArrivo.isoformat }}" data-old-value="{{ object.dataArrivo.isoformat }}">
                    </label>
                    <label> Data Partenza
                        <input type="date" name="dataPartenza" value="{{ object.dataPartenza.isoformat }}" data-old-value="{{ object.dataPartenza.isoformat }}">
                    </label>
                    {{ form.nrPersone | as_crispy_field }}
                    {{ form.budgetDisponibile | as_crispy_field }}
                    <button type="button" value="Submit" class="btn btn-primary" name="SubmitButton" id="submitButton">
                        Aggiorna Vacanza
                    </button>
                </form>
                <a class="btn" href="{% url 'HolidayPlanning:vacanze' %}">Annulla</a>
            </div>
            <div class="col-md-4">
                <h3>Riassunto vacanza</h3>
                <ul class="list-group">
                    {% for s in vacanza.sort_scelte %}
                        {% ifchanged s.giorno %}
                            <h5>Giornata {{ forloop.counter }}: {{ s.giorno }}</h5>
                        {% endifchanged %}
                        <li class="list-group-item">{{ s.attrazione.nome }} dalle {{ s.oraInizio }}
                            alle {{ s.oraFine }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let vecchiaDataArrivo = document.querySelector('input[name="dataArrivo"]').getAttribute('data-old-value');
        let vecchiaDataPartenza = document.querySelector('input[name="dataPartenza"]').getAttribute('data-old-value');
        let inputElement = document.getElementById("submitButton")
        inputElement.addEventListener("click", function (){
            let nuovaDataPartenza = document.querySelector('input[name="dataPartenza"]').value;
            let nuovaDataArrivo = document.querySelector('input[name="dataArrivo"]').value;
            let messageArrivo="";
            let messagePartenza="";
            if(nuovaDataArrivo !== "" && nuovaDataArrivo>vecchiaDataArrivo)
                messageArrivo = "\n Nuova data di arrivo ("+nuovaDataArrivo+
                    ") posteriore alla vecchia data di arrivo ("+vecchiaDataArrivo+")";
            if (nuovaDataPartenza !== "" && nuovaDataPartenza < vecchiaDataPartenza)
                messagePartenza = "\n Nuova data di partenza ("+nuovaDataPartenza+
                    ") precedente alla vecchia data di partenza ("+vecchiaDataPartenza+")";
            let confirmMessage = " ";
            if(messageArrivo !== "")
                confirmMessage += messageArrivo;
            if(messagePartenza !== "")
                confirmMessage += messagePartenza;
            if (confirmMessage === " "){
                confirmMessage = "Vuoi davvero modificare la vacanza?";
            } else
                confirmMessage += "\n Le attività dei giorni eliminati saranno eliminate.";
            if (confirm(confirmMessage)){
                document.getElementById("modificaVacanzaForm").submit()
            } else {
                return false;
            }
        })
    </script>
{% endblock %}

