{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% endblock %}

{% block title %} Ciaula Web {% endblock %}

{% block content %}
    <div class="container">
        <br>
	<h3> {{title}} </h3><br>

	    <div class="row">
	        {% for l in listaattrazioni %}
                <div class="col-3">
		            <div class="card" style="border-radius:25px;">
	                    <br>
                        <a href="{% url 'HolidayPlanning:dettaglioattr' l.pk%}" {{ l.nome }}style="color:black;"> <h3> <b> {{ l.nome }} </b> </h3> </a>
                        <a href="{% url 'HolidayPlanning:dettaglioattr' l.pk%}"> 

                            <img src="{{ l.attrazione_image.url | default_if_none:'#' }}" alt="pic attrazione" style="width:auto;height:240px"> </a>  <!-- collegamento a specifiche attrazione -->

	                </div>
                    <br>
	            </div>
            {% endfor %}
	    </div>
    </div>

{% endblock %}
