{% extends "base.html" %}

{% block title %} {{ titolo }} {% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
        {% for v in vacanze %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vacanza {{forloop.counter }}</h5>
                        <p class="card-text">Itinerario dal {{ v.dataArrivo }} al {{ v.dataPartenza }}</p>
                        <a href="{% url "HolidayPlanning:dettagliovacanza" v.pk %}" class="btn btn-primary">Dettagli Vacanza</a>
                    {% if not tour %}
                        <a href="{% url "HolidayPlanning:modificavacanza" v.pk %}" class="btn btn-primary">Modifica Vacanza</a>
                        <a href="{% url "attractions:attrazioni" %}?vacanza_id={{v.pk}}" class="btn btn-primary">Aggiungi Attrazioni</a>
                    {% endif %}
                    {% if tour %} <!-- si stanno visualizzando i tour organizzati -->
			            <a href="{% url "HolidayPlanning:aggiungitour" v.pk %}" class="btn btn-primary">Aggiungi Vacanza</a>
			        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
                <p class="col-12">Non Hai ancora creato vacanze</p>
                <p class="col-12">Clicca <a href="{% url "HolidayPlanning:creavacanza" %}">qui</a> per crearne una</p>
        {% endfor %}
    </div>
  </div>
{% endblock %}
