{% extends "base.html" %}

{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% load crispy_forms_tags %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% include "header.html" %}
    <div style="display: flex;">
        <div style="flex: 1; margin-left: 20px;">
            <h1>Modifica l'attrazione: {{ attrazione.nome }}</h1>
        </div>
        <div style="flex: 1; margin-right: 20px">
            {% crispy form %}
            <a class="btn" href="{% url 'attractions:dettaglioattr' attrazione.pk %}">Cancel</a>
        </div>
    </div>
{% endblock %}