{%extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Attrazioni</h1>
        <div class="row">
            {% for l in listaattrazioni %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <a href="{% url 'attractions:dettaglioattr' l.pk%}"><img src="{{ l.attrazione_image.url | default_if_none:'#' }}" class="card-img-top img-fluid" alt="pic" style="max-width: 100%; max-height: auto;"></a> <!-- collegamento a specifiche attrazione -->
                        <div class="card-body">
                            <a href="{% url 'attractions:dettaglioattr' l.pk%}"><h5 class="card-title">{{ l.nome }}</h5></a>
                            {% if user.is_authenticated %}
                                {% if vacanza_id %}
                                    <a href="{% url 'HolidayPlanning:aggiungi' l.pk vacanza_id %}" class="btn btn-primary">Aggiungi alla Vacanza</a>
                                {% endif %}
                            {% endif %}
                            {% if user.is_staff %}
                                <a href="{% url 'attractions:modifica_attrazione' l.pk %}" class="btn btn-primary"> Modifica Atttrazione</a>
                                <a href="{% url 'attractions:cancella_attrazione' l.pk %}" class="btn btn-primary"> Cancella Attrazione</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}        
        </div>
    </div>
{% endblock %}