{% extends "base.html" %}
{% block title %} Form di ricerca {% endblock %}

{% block content %}
<h1>Pagina di Ricerca</h1>
    <div style="text-align: center;">
        <br>
        {% if listaricerca.count == 1 %}
            <h3> <b> La ricerca ha prodotto {{listaricerca.count}} risultato:  </b></h3>
            <br>
        {% else %}
            <h3> <b> La ricerca ha prodotto {{listaricerca.count}} risultati: </b></h3>
            <br>
        {% endif %}

        {% if listaricerca.count > 0 %}
        <div class="container-fluid">
            <div class="row">
                {% for l in listaricerca %}
                <div class="col-3">
                    <div class="card" style="border-radius: 25px;">
                        <br>
                        <a href="/dettaglioattrazione/{{l.pk}}" style="color:black;"> <h3> <b> {{ l.nome }}</b></h3></a>
                        <a href="/dettaglioattrazione/{{l.pk}}"> <img src="{{ l.image.url }}" style="width: auto; height: 240px"></a> <!--collegamento a specifiche attrazione -->
                        <br>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
            Nessuna attrazione trovata.
        {% endif %}

    </div>
{% endblock %}