{% extends "base.html" %}
{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% endblock %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
    {% include "header.html" %}
<h1>Pagina di Ricerca</h1>
    <div style="text-align: center;">
        <br>
        {% if listaricerca.count == 1 %}
            <h3> <b> La ricerca ha prodotto {{listaricerca.count}} risultato:  </b></h3>
            <br>
        {% else %}
            <h3> <b> La ricerca ha prodotto {{listaricerca.count}} risultati: </b></h3>
            <br>
        {% endif %}

        {% if listaricerca.count > 0 %}
        <div class="container-fluid">
            <div class="row">
                {% for l in listaricerca %}
                <div class="col-3">
                    <div class="card" style="border-radius: 25px;">
                        <br>
                        <a href="{% url 'attractions:dettaglioattr' l.pk %}" style="color:black;"> <h3> <b> {{ l.nome }}</b></h3></a>
                        <a href="{% url 'attractions:dettaglioattr' l.pk %}"> <img src="{{ l.image.url }}" style="width: auto; height: 240px"></a> <!--collegamento a specifiche attrazione -->
                        <br>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
            Nessuna attrazione trovata.
        {% endif %}

    </div>
{% endblock %}