{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% endblock %}

{% block content %}
    {% include "header.html" %}
<div class="container" style="margin-top: 60px;">
	<div class="row">	        	
		<div class="col-md-6">
    		<img src="{{ attivita.attrazione_image.url | default_if_none:'#' }}" alt="pic attrazione" style="max-width:100%;height:auto;">
		</div>
		<div class="col-md-6">
			<h2>{{ attivita.nome }}</h2>
			<ul class="list-unstyled">
    			<li> <strong> Città: {{ attivita.citta }} </strong> </li>
    			<li> <strong> Luogo: {{ attivita.luogo }} </strong> </li>
    			<li> <strong> Via: {{ attivita.via }} </strong> </li>
    			<li> <strong> costo: {{ attivita.costo }} </strong> </li>
    			<li> <strong> tipo: {{ attivita.tipo }} </strong> </li>
                <li> <strong> Inizia alle: {{ attivita.oraApertura }} </strong> </li>
    			<li> <strong> Finisce alle: {{ attivita.oraChiusura }} </strong> </li>
    			<li> <strong> Attività: {{ attivita.descrizione }} </strong> </li>
			</ul>
            {% if user.is_staff %}
            <a type="button" class="btn button-ciaula" href="{% url 'attractions:modifica_attrazione' attivita.pk %} ">Modifica Attrazione</a>
		    {% endif %}
        </div>
	</div>
</div>

    <br> <br>
    <div class="container" style="background-color:white; border-radius: 10px;">
        <br>
        <div class="row align-self-center">
            <h4> <b> Recensioni Attrazione: </b> </h4> <br>
            {% if recensioni.count == 0 %} <!-- se nessuna recensione per l'attrazione -->
                <h4> Nessuna recensione disponibile </h4> <br>
                <br>
            {% else %}
                {% for r in recensioni %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="text-end">
                                <p class="card-text">{{ r.valutazione }}/5</p>
                            </div>
                            <h5 class="card-title">{{ r.titolo }}</h5>
                            <p class="card-text">{{ r.contenuto }}</p>
                            <p class="card-text">{{ r.autore.first_name }}, il {{ r.data_creazione }} </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
            {% if check == True %}
            <div>
                <br>
                <button type="submit" name="review" class="btn btn-success"> <a href="{% url 'attractions:crea_recensione' attivita.pk %}"> Recensisci! </a></button>
            </div>
            {% endif %}
    </div>
{% endblock %}
