{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% block title %}{{ title }} : {{ attivita.nome }} {% endblock %}
{% endblock %}

{% block content %}
    {% include "header.html" %}
<div class="container">
    <img src="{{ attivita.attrazione_image.url | default_if_none:'#' }}" alt="pic attrazione" style="width:auto;height:240px">
    <p> Città: {{ attivita.citta }}</p>
    <p> Luogo: {{ attivita.luogo }}</p>
    <p> Via: {{ attivita.via }}</p>
    <p> costo: {{ attivita.costo }}</p>
    <p> tipo: {{ attivita.tipo }}</p>
    <p> Inizia alle: {{ attivita.oraApertura }}</p>
    <p> Finisce alle: {{ attivita.oraChiusura }}</p>
    <p> Attività: {{ attivita.descrizione }}</p>
    <p> id: {{ attivita.pk }}</p>
</div>

    <br> <br>
    <div class="container" style="background-color:white; border-radius: 10px;">
        <br>
        <div class="row align-self-center">
            <h4> <b> Recensioni Attrazione: </b> </h4> <br>
            {% if recensioni.count == 0 %} <!-- se nessuna recensione per l'attrazione -->
                <h4> Nessuna recensione disponibile </h4> <br>
                <br>
            {% else %}
                {% for r in recensioni %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="text-end">
                                <p class="card-text">{{ r.valutazione }}/5</p>
                            </div>
                            <h5 class="card-title">{{ r.titolo }}</h5>
                            <p class="card-text">{{ r.contenuto }}</p>
                            <p class="card-text">{{ r.autore.first_name }}, il {{ r.data_creazione }} </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
            {% if check == True %}
            <div>
                <br>
                <button type="submit" name="review" class="btn btn-success"> <a href="{% url 'attractions:crea_recensione' attivita.pk %}"> Recensisci! </a></button>
            </div>
            {% endif %}
    </div>
{% endblock %}